.page {
  padding: 0;
  margin: 0;
  widows: 100vw;
  height: 100vh;
}

p {
  padding: 0;
  margin: 0;
}

.header__wrapper {
  height: 800px;
  background-image: url(/img/header-fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 260px;
  padding-bottom: 60px;
}

.content-title {
  margin: 0;
  font-size: 48px;
  text-transform: uppercase;
}

.content-subtitle {
  font-size: 24px;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 110px;
}

.menu__wrapper {
  background-color: #5474fd;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__button {
  padding-bottom: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__button > a {
  color: #ffffff;
  text-decoration: none;
}

.item {
  color: #ffffff;
}

.logo {
  -webkit-text-decoration: uppercase;
          text-decoration: uppercase;
  color: #ffffff;
  font-size: 24px;
}

.input {
  width: 500px;
}

.wrapper__chooseUs {
  background-image: url(/img/ChooseUs-fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  color: #ffffff;
}

.chooseUs__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__left {
  color: #ffffff;
}
.content__left-title {
  font-size: 36px;
  padding-bottom: 70px;
}
.content__left-text > p {
  padding-bottom: 40px;
}
.content__left-button {
  height: 50px;
  width: 230px;
  background-color: #5474fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__left-button:hover {
  cursor: pointer;
}

.content__right-image {
  position: relative;
  margin-top: 70px;
  width: 700px;
  height: 450px;
}

.image-leftUp {
  position: absolute;
  left: 0;
  top: 0;
}

.image-rightDown {
  position: absolute;
  right: 0;
  bottom: 0px;
}

.content__right {
  height: 500px;
  width: 500px;
}

.wrapper__howItWork {
  background-color: #333333;
  height: 330px;
  color: #ffffff;
}

.howItWork {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.howItWork__search {
  text-align: center;
}
.howItWork__search:hover {
  cursor: pointer;
}
.howItWork__search > img {
  margin-bottom: 15px;
}
.howItWork__search > p {
  font-size: 36px;
}

.wrapper__spain__firstSection {
  background-image: url(/img/Spain-fon1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  color: #ffffff;
}

.spain__firstSection__content {
  background-color: #333333;
  opacity: 0.8;
  margin-top: 220px;
  padding: 50px;
}

.firstSection__content-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.firstSection__content-subtitle {
  font-size: 20px;
  margin-bottom: 15px;
}

.firstSection__content-text {
  font-size: 14px;
  margin-bottom: 35px;
}

.firstSection__content-button {
  height: 50px;
  width: 230px;
  background-color: #5474fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firstSection__content-button:hover {
  cursor: pointer;
}

.spain_secondSection__content {
  background-color: #333333;
  opacity: 0.8;
  margin-top: 220px;
  padding: 50px;
}

.secondSection__content-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.firstSection__content-subtitle {
  font-size: 20px;
  margin-bottom: 15px;
}

.secondSection__content-text {
  font-size: 14px;
  margin-bottom: 35px;
}

.secondSection__content-button {
  height: 50px;
  width: 230px;
  background-color: #5474fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondSection__content-button:hover {
  cursor: pointer;
}

.wrapper__spain__secondSection {
  background-image: url(/img/Spain-fon2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  color: #ffffff;
}

.wrapper__fitBack {
  background-image: url(/img/Fitback-fon.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  color: #ffffff;
}

.fitBack-title {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 100px;
}

.fitBack-block {
  display: flex;
}

.fitBack-block_content {
  background-color: #333333;
}

.block__content-title {
  margin: 40px 0 20px 50px;
}

.block__content-text {
  margin-left: 50px;
  padding-right: 40px;
}

.wrapper__footer {
  background-color: #232323;
  height: 270px;
  color: #ffffff;
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__logo {
  padding-bottom: 10px;
}

.logo-title {
  text-align: center;
}